@font-face {
  font-family: 'maintitle';
  src: url('../assets/fonts/maintitle.ttf') format('truetype');
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: all 1s ease;
  padding: 20px;
  text-align: center;
  flex-direction: column;
}

.hero-container.split {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  text-align: left;
}

.hero-left {
  width: 100%;
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-container.split .hero-left {
  width: 50%;
  align-items: flex-start;
  text-align: left;
}

.main-title {
  font-family: 'maintitle', sans-serif;
  font-size: 48px;
  color: #471232;
  animation: fadeInUp 1s ease;
}

.subtitle {
  font-size: 20px;
  margin-top: 20px;
  color: #2f0d22;
  animation: fadeInUp 1.5s ease;
  font-family: 'subtitle';
  font-weight: bold;
}

.hero-right {
  width: 50%;
  opacity: 0;
  transform: translateX(100%);
  animation: slideInRight 1s forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: rgb(63, 24, 31);
  padding: 30px 20px;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .hero-container,
  .hero-container.split {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 140px;
    text-align: center;
  }

  .hero-left,
  .hero-container.split .hero-left,
  .hero-right {
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .hero-right {
    transform: translateX(0); /* Remove offscreen transform */
    opacity: 1;               /* Ensure it's visible */
    animation: none;          /* Disable animation for cleaner mobile UX */
    margin-top: 30px;
  }

  .main-title {
    font-size: 32px;
  }

  .subtitle {
    font-size: 16px;
  }

  .choose {
    padding: 35px;
  }
}
