 :root {
  --bg-color: #541a31;
  --text-color: #ffff;
  --accent-color: #f7e2c2;
  --hover-underline: #f7cda9;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
}


